* {
    font-family: Roboto, sans-serif;
    
}
table {
    border-spacing: 0px;
    border: 1px solid black;
    
}


th {
    width: 200px;
    font-weight: 500;
    border: 1px solid;
}

td {
    font-size: 12px;
    text-align: center;
    border: 1px solid;
}
input {
    text-align: center;
    display: block;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    width: 230px;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    width: 100px;
    cursor: pointer;
    background-color: #8DECB4;
    border: none;
}

button:hover {
    opacity: 0.7;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
}

.container {
    border: 1px solid;
    padding-top: 50px;
}

.input-container {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}
