* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
}

:root {
    --firstColor: #1F4875;
    --secondColor: #00C9A7;
    --thirdColor: #545479;
}

body {
    background-color: var(--firstColor);
}

h1 {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-left: none;
    border-right: none;
    padding: 20px 0px 20px 0px;
    font-size: 20px;
}

table {
    border-spacing: 0px;
    border: 1px solid black;
    color: black;
    width: 100%;
    border-collapse: collapse;
}

.main-table {
    border-spacing: 0px;
    border: 1px solid black;
    color: black;
    border-collapse: collapse;
}



input {
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    color: black; 
    border: none;
}


th {
    width: 300px;
    font-weight: 500;
    border: 1px solid;
    color: black;
    background-color: #0066ED;
}

td {
    
    font-size: 12px;
    text-align: center;
    align-items: center;
    border: 1px solid;
    color: black;
    
}



button  {
    border: none;
    border-radius: 10px;
        
    display: block;
    padding: 10px 20px; 
    cursor: pointer;
    background-color: var(--thirdColor);
    color: white;
}

button:hover {
    opacity: 0.8;
}

select {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}




.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    place-items: center;
}




.option-div {   
    margin: 0px 0px 30px 20px;
    display: inline-block;
}

.option-div select {
    background-color: var(--thirdColor);
    color: white;
}

.option-div select::active   {
    border-color: none;
}

.table {
    border: 1px solid;
}

.result p {
    display: inline-block;
    
}

.right-sub-container {
    margin-top: 40px;
}

.first-sub-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--secondColor);
    width: 80%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}

.second-sub-container {
    background-color: var(--secondColor);
    width: 80%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
}

.main-container-input {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 200px;
}

.main-container-input p {
    display: flex;
    justify-content: center;
}

.ip-class-btn {
    margin: 20px 0px 0px 15px;
}

.option-btn {
    margin: -7px 0px 0px 45px;
}

.rendering-ip-class {
    display: flex;
    justify-content: center;
}

.output-info {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    
    
}

.output-info td {
    width: 200px;
    color: black;
    text-align: center;
    padding: 5px 5px;
} 

.row-num {
    width: 40px;
}


